extends ./views/layout/head.pug

block content
  include ./views/components/header.pug
  main
    include ./views/components/hero.pug
    include ./views/components/about.pug
    include ./views/components/tasks.pug
