section.about 
    .container
        .about__content.row
            .col-7.about__item.row
                .column
                    img.about__img(src="../../assets/images/about/1.png", alt="")
                    img.about__img(src="../../assets/images/about/2.png", alt="")
                img.about__img(src="../../assets/images/about/3.png", alt="")
            .col-5
                h3.about__title О компании
                p.about__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                button.about__button ЧИТАТЬ
