footer.footer 
    .container 
        .footer__content 
            .footer__row.row 
                a.footer__logo(href="/") #[img(src="../../assets/images/footer/logo.svg")]
                ul.footer__list 
                    h6.footer__text Информация
                    li.footer__item Главная
                    li.footer__item Галерея
                    li.footer__item Проекты
                    li.footer__item Сертификаты
                    li.footer__item Контакты
                ul.footer__list.contacts
                    h6.footer__text Контакты
                    li.footer__item.contacts__item 100000, Республика Казахстан, <br/> г. Караганда, ул. Телевизионная 10
                    li.footer__item.contacts__item +7 (701) 77 76 811
                    li.footer__item.contacts__item Galym.sultanov@mail.ru
                .footer__social.social
                    h6.footer__text Социальные сети
                    .social__row.row
                        a.footer__icon(href="/")
                            img(src="../../assets/images/footer/1.svg", alt="")
                        a.footer__icon(href="/")
                            img(src="../../assets/images/footer/2.svg", alt="")
                        a.footer__icon(href="/")
                            img(src="../../assets/images/footer/3.svg", alt="")
                        a.footer__icon(href="/")
                            img(src="../../assets/images/footer/4.svg", alt="")
            h6.footer__author © 2019 Digital Project. Все права защищены.
