- const items = [{link:'#', text: 'Главная'},{link:'#', text: 'Галерея'},{link:'#', text: 'Проекты'},{link:'#', text: 'Сертификаты'},{link:'#', text: 'Контакты'},]

header.header
    .container
        .header__content.flex 
            .header__left
                a.header__logo(href="/") #[img(src="../../assets/images/header/logo.svg")]
            .header__right
                nav.header__nav 
                    ul.header__list.flex
                        each i in items
                            li.header__item
                                a.header__link(href=i.link) #{i.text}
                        
                