section.hero
    .container
        .hero__content.flex
            h1.hero__title PROJECT <br/> <span>NURTOWN</span>
            img.hero__img(src="../../assets/images/hero/hero.png", alt="")
            