section.projects 
    .container
        .projects__content 
            h3.projects__title Наши проекты
            .projects__row.flex
                .projects__block 
                    img.projects__img(src="../../assets/images/projects/1.png", alt="")
                    span.projects__text Досуговый центр
                    span.projects__shadow
                .projects__block 
                    img.projects__img(src="../../assets/images/projects/2.png", alt="")
                    span.projects__text #2
                    span.projects__shadow
            .projects__row.flex 
                .projects__block 
                    img.projects__img(src="../../assets/images/projects/3.png", alt="")
                    span.projects__text #3
                    span.projects__shadow
                .projects__block 
                    img.projects__img(src="../../assets/images/projects/4.png", alt="")
                    span.projects__text #4
                    span.projects__shadow
                .projects__block 
                    img.projects__img(src="../../assets/images/projects/5.png", alt="")
                    span.projects__text #5
                    span.projects__shadow
            button.projects__button все проекты