section.tasks 
    .container
        .tasks__content 
            h3.tasks__title Основные задачи
            .tasks__row.flex
                .tasks__block.flex
                    span.tasks__number 1 
                    p.tasks__text Создание комфортных <br/> условий и повышение <br/> качества обслуживания <br/> клиентов
                .tasks__block.flex
                    span.tasks__number 2
                    p.tasks__text Постоянно совершенствовать качество <br/>предоставляемых услуг путем обучения <br/> персонала, закупки нового оборудования <br/> и усиленной рекламы на рынке



