.header {
    padding-top: vw(30);
    &__content {
        @include flex-center(space-between);
    }
    &__logo {
        width: vw(70);
        height: vw(43);
    }
    &__link {
        position: relative;
        font-size: vw(12);
        line-height: vw(12);
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #333333;
        margin-left: vw(60);
        &::after,
        &::before {
            position:absolute;
            content:'';
            width: 0%;
            height: vw(1);
            background:#333333;
            left: 0;
            transition: 0.3s;
        }
        &::after {
            top: vw(-4);
        }
        &::before {
            bottom: vw(-4);
        }
        &:hover::before,
        &:hover::after {
            width: 100%;
        }
    }
}