.hero {
    padding-top: vw(40);
    &__content {
        @include flex-center(space-between);
    }
    &__title {
        font-weight: 300;
        font-size: vw(56);
        line-height: vw(56);
        color: #BDBDBD;
        span {
            font-weight: bold;
            color: #333333;
        }
    }
    &__img {
        width: vw(770);
        height: vw(829);
    }
}